<li id="menu-camera">
    <a href="{% url 'camera:online_video_preview' %}"><i class="fa fa-camera"></i> <span
            class="nav-label">Camera</span><span class="fa arrow"></span></a>
    <ul id="menu-admin-ul" class="nav nav-second-level collapse">
        <li id="menu-camera-online-preview"><a href="{% url 'camera:online_video_preview' %}">Online preview</a>
        </li>
        <li id="menu-camera-saved-videos"><a href="{% url 'camera:saved_videos_list' %}">Saved videos</a>
        </li>
    </ul>
</li>
