{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="row white-bg" style="padding: 15px;">
        {% include 'html_blocks/message_block.html'%}
        <div>
            <h1>Online camera preview</h1>
            <img src="/media/online-preview/camera1.jpg" id="camera_preview"/>

            <select class="form-control m-b" name="camera">
                <option>camera 1</option>
            </select>

        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    {# Update the image every 0.5 sec #}
    <script>
        function refresh_camera_image() {
                var myImageElement = document.getElementById('camera_preview');
                myImageElement.src = '/media/online-preview/camera1.jpg?rand=' + Math.random();
        }

        function reneveal_stream_ttl() {
                $.ajax({
                    url: '{{ SITE_URL|slice:"-1" }}{% url 'api_renew_camera_stream' %}',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json', // same here
                    data: '{"camera_name": "camera1"}' {# TODO change it on variable when multiply cameras will be implemented #}
                }).done(console.log('done')).fail(console.log('fail'))
        }

        function online_preview_services() {
            refresh_camera_image();
            setInterval(refresh_camera_image, 500);

            reneveal_stream_ttl();
            setInterval(refresh_camera_image, 29000);
        }

        window.onload = online_preview_services;
    </script>
    <script>
        $(document).ready(function() {
            $('#menu-camera-ul').addClass('in');
            $('#menu-camera-online-preview').addClass('active');
            $('#menu-camera').addClass('active');
        });
    </script>
{% endblock %}